@use '../system/variables';

#plans-page {
    .cancel-at {
        width: 100%;
        border-radius: 1rem;
        border: 1px solid variables.$darkWhiteColor;
        display: flex;
        flex-direction: column;
        padding: 2.5rem 2rem;
        margin-bottom: 3rem;

        h2 {
            color: variables.$whiteColor;
            font-size: 1.25rem;
        }

        p {
            color: variables.$greyColor;
            font-size: 0.87rem;
            line-height: 1.6;
        }

        button {
            background-color: variables.$originalWhiteColor;
            border: 1px solid transparent;
            transition: .2s ease;
            color: variables.$originalBlackColor;
            cursor: pointer;
            border-radius: 5px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .875rem;
            font-weight: 600;
            padding: .75rem;
            margin-top: 1rem;

            &:hover {
                background-color: variables.$lightGreyColor;
            }
        }
    }

    .plans {
        display: flex;
        gap: 20px;
        margin-bottom: 5rem;

        @media (max-width: variables.$tablet) {
            flex-wrap: wrap;
        }

        .plan {
            width: 100%;
            border-radius: 1rem;
            border: 1px solid variables.$darkWhiteColor;
            display: flex;
            flex-direction: column;
            padding: 1.5rem;

            h3 {
                font-size: 1rem;
                color: variables.$whiteColor;
                margin: 0 auto;
            }

            span {
                font-size: 2.25rem;
                color: variables.$whiteColor;
                margin: 3rem auto 2rem auto;
            }

            ul {
                li {
                    font-size: .875rem;
                    color: variables.$greyColor;
                    display: flex;
                    align-items: center;
                    margin-top: 15px;

                    svg {
                        margin-right: .5rem;

                        &.is-active {
                            color: variables.$lightGreenColor;
                        }
                    }
                }
            }

            a {
                background-color: variables.$originalWhiteColor;
                border: 1px solid transparent;
                transition: .2s ease;
                color: variables.$originalBlackColor;
                cursor: pointer;
                border-radius: 9999px;
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: .875rem;
                font-weight: 600;
                padding: .75rem;
                margin-top: 1.5rem;

                &:hover {
                    background-color: variables.$lightGreyColor;
                }

                &.is-disabled {
                    opacity: .7;
                    cursor: not-allowed;
                    pointer-events: none;
                }
            }
        }
    }
}
