@use '../system/variables';

#profile-page {
    .form {
        border-radius: .5rem;
        border: 1px solid variables.$darkWhiteColor;
        margin-bottom: 2rem;

        &__section-title {
            border-bottom: 1px solid variables.$darkWhiteColor;

            h2 {
                font-size: 1rem;
                color: variables.$whiteColor;
                font-weight: 700;
                padding: 1rem;
            }
        }

        &__field {
            max-width: 28rem;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &__submit-button {
                max-width: 10rem;
            }
        }
    }
}
