@use '../system/variables';

#rebalancing-page {
    .table {
        .investment {
            display: block;
            margin-top: .5rem;
            font-weight: 700;
            color: variables.$lightGreenColor;
        }

        .action-button {
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: .2rem;
            transition: .2s ease;
            color: variables.$originalWhiteColor;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            &:last-child {
                margin-left: .5rem;
            }

            &.action-trade-button {
                background-color: variables.$greyColor;

                &:hover {
                    background-color: variables.$darkGreyColor;
                }
            }

            &.action-buy-button {
                background-color: variables.$lightGreenColor;

                &:hover {
                    background-color: variables.$darkGreenColor;
                }
            }

            svg {
                width: 16px;
                height: 16px;
            }
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;

            &__slider {
                position: absolute;
                cursor: pointer;
                inset: 0;
                background-color: variables.$greyColor;
                transition: background-color 0.4s;
                border-radius: 34px;

                &::before {
                    content: '';
                    position: absolute;
                    height: 16px;
                    width: 16px;
                    left: 3px;
                    bottom: 2px;
                    background-color: variables.$originalWhiteColor;
                    transition: transform 0.4s;
                    border-radius: 50%;
                }

                &.is-active {
                    background-color: variables.$lightGreenColor;

                    &::before {
                        transform: translateX(19px);
                    }
                }
            }
        }
    }
}
