@use '../system/variables';

#target-assets-page {
    .asset-classes {
        display: flex;
        margin: 0 0 3rem 0;
        gap: 10px;

        .asset-class {
            &__input:checked + .asset-class__label {
                color: variables.$whiteColor;
                background-color: color(display-p3 0.882 0.953 0.996/0.111);
            }

            &__label:hover {
                background-color: color(display-p3 0.882 0.953 0.996/0.111);
            }

            &__label {
                color: variables.$greyColor;
                font-weight: 600;
                font-size: .875rem;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                transition: .2s ease;
            }
        }
    }
}
