@import 'vue-slider-component/theme/default.css';
@import 'normalize';
@import 'default';

@import 'components/alert-message';
@import 'components/header';
@import 'components/table';
@import 'components/form';
@import 'components/modal';

.form-group {
    background-color: #0f172ab3;
    padding: 50px 25px;
    border-radius: 4px;
}

.ticket-class {
    padding: 3px 10px;
    color: #fff;
    border-radius: 50px;

    &.ticket-class-blue {
        background-color: #467fcf;
    }

    &.ticket-class-red {
        background-color: #c21a1a;
    }
}

.table-navigation {
    display: flex;
    margin-bottom: 20px;

    ul {
        display: flex;
    }
}
