@use 'variables';

html {
    background-color: variables.$blackColor;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
}

#app {
    height: 100vh;
    display: flex;
    overflow: hidden;
}

#layout-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

main {
    padding: 2rem;
    overflow-y: auto;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 0 15px;
}

.page-title {
    margin: 0;
    color: variables.$whiteColor;
    font-size: 1.8rem;
    font-weight: 700;
}

.link {
    color: #5BA1FFF7;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.back-link {
    color: variables.$greyColor;
    position: absolute;
    left: 25px;
    top: 25px;
    font-size: .875rem;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: .2s ease;
    border-radius: 9999px;
    padding: 7px 15px 7px 10px;

    &:hover {
        color: #FCFDFFEF;
        background-color: variables.$darkGreyColor;
    }
}

.page-title {
    font-weight: 700;
    font-size: 1.25rem;
    color: #FCFDFFEF;
    margin: 0 0 3rem 0;
}

.page-description {
    font-size: 1rem;
    color: variables.$greyColor;
    margin: 10px 0 30px 0;
}

.empty-content {
    border: 1px solid variables.$darkWhiteColor;
    border-radius: 5px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    h2 {
        margin: 0;
        font-weight: 700;
        font-size: 1.25rem;
        color: variables.$whiteColor;
    }

    p {
        margin: 10px 0 0 0;
        font-size: .875rem;
        color: variables.$greyColor;
    }
}

.slide-fade-enter-active {
    transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from, .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}
