.is-relative {
    position: relative;
}

.is-hidden {
    display: none;
}

.is-flex {
    display: flex;
}

.is-justify-content-center {
    justify-content: center;
}

.mt-10 {
    margin-top: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.max-w-450 {
    max-width: 450px;
}

.h-screen {
    height: 100vh;
}

.font-bold {
    font-weight: 700;
}
