@use 'variables';

.is-relative {
    position: relative;
}

.is-hidden {
    display: none;
}

.is-flex {
    display: flex;
}

.is-justify-content-center {
    justify-content: center;
}

.mt-10 {
    margin-top: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.padding-1 {
    padding: 1rem;
}

.max-width-70 {
    max-width: 70rem;
}

.max-w-450 {
    max-width: 450px;
}

.h-screen {
    height: 100vh;
}

.font-bold {
    font-weight: 700;
}

.border-top {
    border-top: 1px solid variables.$darkWhiteColor;
}
