$mobile: '768px';
$tablet: '1023px';
$desktop: '1215px';
$widescreen: '1407px';

$originalBlackColor: #000000;
$transparentBlackColor: rgba(0, 0, 0, .95);
$blackColor: #05050a;

$lightGreenColor: color(display-p3 0.506 1 0.682/0.66);
$greenColor: color(display-p3 0.475 1 0.706/0.29);
$darkGreenColor: color(display-p3 0.376 0.996 0.655/0.114);

$lightRedColor: color(display-p3 1 0.57 0.55);
$redColor: color(display-p3 1 0.212 0.314/0.303);
$darkRedColor: color(display-p3 1 0.169 0.271/0.156);

$blueColor: color(display-p3 0.212 0.314 1 / 0.303);

$yellowColor: color(display-p3 1 0.85 0.212 / 0.303);

$originalWhiteColor: #ffffff;
$whiteColor: rgba(252, 253, 255, .94);
$darkWhiteColor: rgba(225, 242, 254, .18);

$lightGreyColor: hsla(0, 0%, 100%, .9);
$greyColor: #f2f7feb5;
$darkGreyColor: #e0edfe25;
$darkestGreyColor: #ddeaf814;
