@use '../system/variables';

#aside {
    flex: 0 0 250px;
    width: 250px;
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e1f2fe2f;

    @media (max-width: variables.$mobile) {
        display: none;
    }

    .wallets-content {
        width: 100%;
    }

    nav {
        margin-top: 2rem;
        height: 100%;

        ul {
            height: 100%;
            flex-direction: column;
            display: flex;

            li {
                margin: 5px 0;

                &:last-child {
                    margin-top: auto;
                }

                a {
                    font-size: .875rem;
                    color: variables.$greyColor;
                    transition: .2s ease;
                    border-radius: 5px;
                    padding: 10px;
                    display: flex;
                    align-items: center;

                    &:hover, &.is-active {
                        background-color: variables.$darkestGreyColor;
                        color: variables.$whiteColor;
                    }

                    svg {
                        width: 18px;
                        height: 18px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
