@use '../system/variables.scss';

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    &.inline-form {
        flex-direction: row;
    }

    &__field {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;

        &__label {
            font-size: .875rem;
            color: variables.$greyColor;
            margin-bottom: 8px;
        }

        &__select, &__input {
            background-color: variables.$darkestGreyColor;
            border: 1px solid variables.$darkWhiteColor;
            color: variables.$whiteColor;
            border-radius: 5px;
            width: 100%;
            height: 40px;
            padding: 0 0 0 8px;
            transition: .2s ease;
            box-sizing: border-box;
            font-size: .875rem;
            display: flex;

            &:focus-visible {
                outline: none;
                box-shadow: 0 0 0 2px variables.$darkWhiteColor;
            }

            &::-webkit-input-placeholder {
                color: variables.$greyColor;
            }

            &:-moz-placeholder {
                color: variables.$greyColor;
            }

            &::-moz-placeholder {
                color: variables.$greyColor;
            }

            &:-ms-input-placeholder {
                color: variables.$greyColor;
            }

            &::-ms-input-placeholder {
                color: variables.$greyColor;
            }

            &::placeholder {
                color: variables.$greyColor;
            }

            &.is-uppercase {
                text-transform: uppercase;

                &::placeholder {
                    text-transform: none;
                }
            }
        }

        &__submit-button {
            background-color: variables.$originalWhiteColor;
            border: 1px solid transparent;
            transition: .2s ease;
            color: variables.$originalBlackColor;
            cursor: pointer;
            border-radius: 5px;
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .875rem;
            font-weight: 600;
            padding: .75rem;

            &:hover {
                background-color: variables.$lightGreyColor;
            }

            &:disabled {
                opacity: .7;
            }
        }
    }
}
