@use '../system/variables';

.vue-slider-rail {
    background-color: variables.$darkGreyColor;
    border-radius: 15px;
}

.vue-slider-process {
    background-color: variables.$originalWhiteColor;
    border-radius: 15px;
}

.vue-slider-dot {
    @at-root &-handle {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: variables.$originalWhiteColor;
        box-sizing: border-box;

        &-disabled {
            cursor: default;
        }
    }

    @at-root &-tooltip-inner {
        font-size: .75rem;
        color: variables.$greyColor;
    }
}
