body, html {
    background-color: $blackColor;
    font-family: sans-serif;
    color: $whiteColor;
}

[v-cloak] {
    display: none;
}

.main {
    display: flex;
    overflow: hidden;
    height: 100vh;

    &-content {
        transition: .5s;
        flex: 1;
        overflow: auto;
        margin-top: $headerHeight;
        padding: 0 20px;

        @media screen and (max-width: $mobile) {
            padding: 0 5px;
        }
    }
}

.tooltip {
    position: relative;

    &::after {
        content: attr(data-title);
        position: absolute;
        background-color: #000000;
        color: white;
        left: 0;
        right: 0;
        top: 45px;
        font-size: 15px;
        font-weight: normal;
        padding: 5px 10px;
        border-radius: 5px;
        display: none;
        z-index: 1;
    }

    &:hover::after {
        display: block;
    }
}

.button {
    background-color: transparent;
    border: 2px solid $blueColor;
    transition: .2s ease;
    color: $blueColor;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;

    &.bg-filled {
        background-color: #0085f2;
        color: $whiteColor;
        border-color: transparent;

        &:hover {
            background-color: $blueColor;
        }
    }

    &:hover {
        color: $whiteColor;
        background-color: $blueColor;
    }
}

.link {
    color: #cbd5e1;
    display: flex;
    padding: 5px 10px;
    transition: .2s;

    &:hover {
        color: #ffffff;
    }

    &.is-active {
        font-weight: 700;
        color: #ffffff;
    }
}

.page-title {
    color: $whiteColor;
    font-weight: normal;
}
