.is-justify-content-flex-end {
    justify-content: flex-end;
}

.is-justify-content-center {
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .is-hidden-touch {
        display: none;
    }
}
